
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#addDiv").css("display", "none");
            $("#editDiv").css("display", "none");       
            loadData();
        });
        function loadData() {
            $('#tt').datagrid({
                url: '/UserInfo/GetUserInfoList',
                title: '用户数据表格',
                width: 700,
                height: 400,
                fitColumns: true, //列自适应
                nowrap: false,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载用户的信息...',
                pagination: true,//是否有分页
                singleSelect: false,//是否单行选择
                pageSize: 5,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [ 5, 10,15],
                queryParams: {},//往后台传递参数
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime
                    { field: 'ck', checkbox: true, align: 'left', width: 50 },
					{ field: 'ID', title: '编号', width: 80 },
					{ field: 'UName', title: '姓名', width: 120 },
                     { field: 'UPwd', title: '密码', width: 120 },
                      { field: 'Remark', title: '备注', width: 120 },
					{
					    field: 'SubTime', title: '时间', width: 80, align: 'right',
					    formatter: function (value, row, index) {
					        return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d");
					    }
					}
                ]],
                toolbar: [{
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-remove',
                    handler: function () {

                        deleteInfo();
                    }
                }, {
                    id: 'btnAdd',
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {

                       addInfo();
                    }
                }, {
                    id: 'btnEidt',
                    text: '编辑',
                    iconCls: 'icon-edit',
                    handler: function () {

                        showEditInfo();
                    }
                }],
            });
        }

        //修改数据
        function showEditInfo() {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1)
            {
                $.messager.alert('提醒', '请选择要修改的记录！', 'error');
                return;
            }
            //将要修改的数据查询出来，显示到文本框中。
            var id = rows[0].ID;
            $.post("/UserInfo/ShowEditInfo", { "id": id }, function (data) {
                $("#txtUserName").val(data.UserName);
                $("#txtPassword").val(data.Password);
                $("#txtRemark").val(data.Remark);
                $("#txtSubTime").val(ChangeDateFormat(data.SubTime));
                $("#txtdutyid").val(data.dutyid);
                $("#txtId").val(data.id);
            });
            $("#editDiv").css("display", "block");
            $("#editDiv").dialog({
                title: '修改用户数据',
                width: 300,
                height: 200,
                collapsible: true,
                minimizable: true,
                maximizable: true,
                resizable: true,
                closed: false,
                cache: false,
                modal: true,
                buttons: [{
                    text: 'Ok',
                    iconCls: 'icon-ok',
                    handler: function () {
                        validateInfo($('#editForm'));
                        $('#editForm').submit();
                    }
                }, {
                    text: 'Cancel',
                    handler: function () {
                        $("#editDiv").dialog('close');
                    }
                }]
            });
        }

        //添加数据
        function addInfo() {
            $("#addDiv").css("display", "block");
            $("#addDiv").dialog({
                title: '添加用户数据',
                width: 300,
                height: 200,
                collapsible: true,
                minimizable: true,
                maximizable: true,
                resizable:true,
                closed: false,
                cache: false,
                modal: true,
                buttons:[{
                    text:'Ok',
                    iconCls:'icon-ok',
                    handler: function () {
                        validateInfo($('#addForm'));
                        $('#addForm').submit();
                    }
                },{
                    text:'Cancel',
                    handler: function () {
                        $("#addDiv").dialog('close');
                    }
                }]
                });
        }

        //添加完成后
        function afterAdd(data)
        {
            if (data == "ok") {
                $('#addDiv').dialog('close');
                $('#tt').datagrid('reload');//加载表格不会跳到第一页。
                $("#addForm input").val("");
            }
        }
      
        //删除数据
        function deleteInfo() {
            var rows = $('#tt').datagrid('getSelections');
            if(!rows||rows.length == 0)
            {
                $.messager.alert('提醒', '请选择要删除的记录！', 'error');
                return;
            }
            $.messager.confirm('确认', '你确定要删除吗?', function (r) {
                //遍历选中的id
                if (r) {
                    var rowsLength = rows.length;
                    var strId = "";
                    for(var i=0;i<rowsLength;i++)
                    {
                        strId = strId + rows[i].id + ",";
                    }
                    //去掉最后一位的逗号
                    strId = strId.substr(0, strId.length - 1);
                    //提交到后台
                    $.post("/UserInfo/DeleteUserInfo", { "strId": strId }, function (data) {
                        if(data=="ok")
                        {
                            $('#tt').datagrid('reload');//重新加载表格
                            $('#tt').datagrid('clearSelections');//清除上次操作的历史记录
                        }
                        else
                        {
                            $.messager.alert('提醒', '删除失败');
                        }
                    });
                }             
            });
        }

        //表单校验
        function validateInfo(control) {
            control.validate({//表示对哪个form表单进行校验，获取form标签的id属性的值
                rules: {//表示验证规则
                    UserName: "required",//表示对哪个表单元素进行校验，要写具体的表单元素的name属性的值
                    Remark: {
                        required: true
                    },
                    Password: {
                        required: true,
                        minlength: 5
                    }
                },
                messages: {
                    UserName: "请输入用户名",
                    Remark: {
                        required: "请输入备注"
                    },
                    Password: {
                        required: "请输入密码",
                        minlength: jQuery.format("密码不能小于{0}个字 符")
                    }
                }
            });
        }
        function afterEdit(data) {
            if (data == "ok") {
                $('#editDiv').dialog('close');
                $('#tt').datagrid('reload');//加载表格不会跳到第一页。
            } else {
                $.messager.alert("提示", "修改的数据失败", "error");
            }
        }
        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
        </script>
</head>
<body>
    <div>
        <table id="tt" style="width: 700px;" title="用户数据展示" iconcls="icon-edit"></table> 
    </div>
    <div id="addDiv">
        @using (Ajax.BeginForm("AddUserInfo", "UserInfo", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAdd" }, new { id = "addForm" }))
        {
            <table>
                <tr><td>用户名</td><td><input type="text" name="UserName" /></td></tr>
                <tr><td>密码</td><td><input type="text" name="Password" /></td></tr>
                <tr><td>备注</td><td><input type="text" name="Remark" /></td></tr>
            </table>
        }       
    </div>
    <div id="editDiv">
        @using (Ajax.BeginForm("EditUserInfo", "UserInfo", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterEdit" }, new { id = "editForm" }))
        {
            <input type="hidden" name="ID" id="txtId" />
            <input type="hidden" name="SubTime" id="txtSubTime" />
            <input type="hidden" name="dutyid" id="txtdutyid" />

            <table>
                <tr><td>用户名</td><td><input type="text" name="UserName" id="txtUserName"/></td></tr>
                <tr><td>密码</td><td><input type="text" name="Password" id="txtPassword"/></td></tr>
                <tr><td>备注</td><td><input type="text" name="Remark" id="txtRemark"/></td></tr>
            </table>
        }
    </div>
</body>
</html>
